<h1>Profile Secret</h1> 
  <h3>Ingresa una URL</h3>
  <h2><a href="/"></a></h2>
    <form action="/urls" method="post">
  <input type="text" name="word_url" placeholder="ingresa una url"><br><br>
  <input type="submit">
  
  <a href="/logout"><button id="logout" type="button">Cerrar Sesión</button></a>
    </form>

<h3>Estas son tus Urls</h3>

<h2><a href="/"></a></h2>

<table>
  <tr>
    <th width="25">ID</th>
    <th width="200">Long url</th>
    <th>Short ulr</th>
    <th>Click counter</th>
  </tr>
<% @ulr.each_with_index do |url, index| %>

  <tr>
    <td><%= index + 1 %>.</td>
    <td><%= url.long_url %> </td>
    <td><a href="/short_url/<%= url.id %>" target="_blank"><%= url.short_url %></a></td>
    <td><%= url.click_count %></td>
  </tr>

<% end %>
</table>

    <!--
    este es el boton el cual el usuario oprime para cerrar session 
    se va al controlador de session y lo cacha el get seesion clear manda mensaje de cerrar session correct y por ultimo lo redirecciona al index o la carpeta raiz
  -->